@model mvc_cv.Models.Entity.Tbl_Egitimlerim
@{
    ViewBag.Title = "EgitimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Egitim Ekleme Sayfası</h2>

<form method="post">
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.Baslik,"",new { @style="color:red"})
    <br />

    @Html.Label("ALt Başlık 1")
    @Html.TextBoxFor(x => x.AltBaslik1, new { @class = "form-control" })
    <br />

    @Html.Label("Alt Başlık 2")
    @Html.TextBoxFor(x => x.AltBaslik2, new { @class = "form-control" })
    <br />

    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />

    @Html.Label("Gno")
    @Html.TextBoxFor(x => x.GNO, new { @class = "form-control" })
    <br />

    <button class="btn btn-info">Kaydet</button>
</form>

